/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

.header {
  width: 100%; }
  .header section {
    width: 100%;
    background-color: #f6f6f6; }
    .header section .header-top {
      line-height: 30px;
      margin: 0 auto;
      width: 1200px;
      height: 30px;
      position: relative; }
      .header section .header-top .left {
        float: left; }
        .header section .header-top .left a {
          color: #474747;
          font-size: 12px; }
          .header section .header-top .left a:hover {
            color: red; }
      .header section .header-top .right {
        float: right; }
        .header section .header-top .right a {
          color: #474747;
          font-size: 12px; }
          .header section .header-top .right a:hover {
            color: red; }
      .header section .header-top .admin {
        position: absolute;
        right: 0; }
        .header section .header-top .admin a {
          color: red; }
      .header section .header-top .left li {
        margin: 0 5px;
        float: left; }
        .header section .header-top .left li span {
          margin-left: 8px;
          color: #d3ccd3;
          height: 10px;
          width: 1px; }
      .header section .header-top .right li {
        float: left;
        margin: 0 5px; }
        .header section .header-top .right li span {
          margin-left: 8px;
          color: #d3ccd3;
          height: 10px;
          width: 1px; }
  .header .header-bot {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-between; }
    .header .header-bot .a1 {
      width: 329px; }
      .header .header-bot .a1 a {
        display: block;
        width: 329px;
        height: 58px;
        margin: 32px 15px 0 0; }
        .header .header-bot .a1 a img {
          width: 100%;
          height: 100%; }
    .header .header-bot .a2 {
      position: absolute;
      left: 430px;
      top: 28px; }
      .header .header-bot .a2 .search-top {
        width: 600px;
        height: 38px;
        margin-bottom: 4px;
        position: relative; }
        .header .header-bot .a2 .search-top > div > span {
          position: absolute;
          z-index: 1000;
          left: 10px;
          top: 11px; }
        .header .header-bot .a2 .search-top > a {
          position: absolute;
          right: 0;
          top: 0;
          width: 74px;
          height: 38px;
          background: linear-gradient(90deg, #fd4165, #fc002d);
          border: 0;
          outline: none;
          border-radius: 0 20px 20px 0;
          color: #fff;
          font-size: 16px;
          padding: 0;
          line-height: 38px;
          cursor: pointer;
          text-decoration: none;
          text-align: center; }
        .header .header-bot .a2 .search-top input {
          position: relative;
          width: 480px;
          border: 2px solid #fd4165;
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
          height: 30px;
          padding: 2px 8px 2px 34px; }
      .header .header-bot .a2 .search-bot {
        position: relative; }
        .header .header-bot .a2 .search-bot div {
          position: absolute;
          left: 40px; }
          .header .header-bot .a2 .search-bot div a {
            color: #666;
            font-size: 12px;
            text-decoration: none; }
            .header .header-bot .a2 .search-bot div a:hover {
              color: red; }
        .header .header-bot .a2 .search-bot span {
          font-size: 0;
          margin: 0 10px;
          color: #d3ccd3;
          display: inline-block;
          height: 10px;
          width: 1px;
          background: #d3ccd3;
          vertical-align: middle;
          transform: translateY(-1px); }
    .header .header-bot .a3 > img {
      display: block;
      width: 100%;
      height: 100%; }

.main {
  background-color: #f6f6f6; }

.mid {
  background-color: #f6f6f6;
  width: 1200px;
  margin: 0 auto;
  background-color: white; }
  .mid .mid1-top {
    margin-top: 15px;
    clear: both;
    height: 28px;
    line-height: 28px; }
  .mid .mid1-bot a {
    display: inline-block;
    width: 181px;
    height: 100%;
    margin-right: 14px;
    cursor: pointer;
    text-align: center; }
    .mid .mid1-bot a:hover .proname {
      color: red; }
    .mid .mid1-bot a:hover img {
      transition: .8s;
      transform: scale(1.1); }
    .mid .mid1-bot a div {
      width: 100%;
      height: 135px; }
      .mid .mid1-bot a div img {
        width: 100%;
        height: 100%; }
    .mid .mid1-bot a .proname {
      margin: 10px 0 7px;
      padding: 0 7px;
      font-size: 14px;
      height: 40px;
      line-height: 20px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-word;
      color: #333; }
    .mid .mid1-bot a .price {
      width: 100%;
      text-align: center;
      height: 20px;
      line-height: 20px;
      font-size: 18px;
      color: #f33; }
    .mid .mid1-bot a .shop {
      width: 120px;
      height: 32px;
      line-height: 30px;
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid #fc002d;
      margin: 13px auto 0;
      outline: none;
      cursor: pointer;
      color: #fc002d; }
      .mid .mid1-bot a .shop:hover {
        background-color: red;
        color: white; }
  .mid .mid2 {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer; }
  .mid .mid3 {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px; }
    .mid .mid3 .catgegory_title {
      padding-top: 30px;
      clear: both;
      height: 40px;
      line-height: 40px;
      padding: 0 3px;
      background-color: #f6f6f6; }
      .mid .mid3 .catgegory_title h3 {
        float: left;
        font-size: 20px;
        font-weight: 400;
        color: #333; }
      .mid .mid3 .catgegory_title div {
        float: right;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        font-weight: 400;
        color: #333; }
        .mid .mid3 .catgegory_title div a {
          margin-left: 15px;
          color: #333; }
          .mid .mid3 .catgegory_title div a:hover {
            color: red; }
    .mid .mid3 .catgegory_content {
      height: 523px;
      width: 100%;
      clear: both; }
      .mid .mid3 .catgegory_content .content1 {
        width: 230px;
        height: 523px;
        float: left;
        cursor: pointer;
        position: relative; }
        .mid .mid3 .catgegory_content .content1 h3 {
          position: absolute;
          left: 60px;
          top: 57px;
          font-size: 28px;
          color: #fff;
          font-weight: 700; }
      .mid .mid3 .catgegory_content .content_li {
        width: 960px;
        height: 523px;
        float: right; }
        .mid .mid3 .catgegory_content .content_li li {
          width: 230px;
          height: 255px;
          background: #fff;
          cursor: pointer;
          margin-bottom: 13px;
          float: left; }
          .mid .mid3 .catgegory_content .content_li li:hover .title {
            color: red; }
          .mid .mid3 .catgegory_content .content_li li:hover img {
            transition: .8s;
            transform: scale(1.1); }
          .mid .mid3 .catgegory_content .content_li li a {
            width: 230px;
            height: 255px;
            background: #fff;
            cursor: pointer; }
            .mid .mid3 .catgegory_content .content_li li a div {
              width: 160px;
              height: 120px;
              margin: 25px auto 0; }
              .mid .mid3 .catgegory_content .content_li li a div img {
                width: 100%;
                height: 100%; }
            .mid .mid3 .catgegory_content .content_li li a .title {
              margin-top: 10px;
              font-size: 14px;
              color: #333;
              line-height: 17px;
              width: 183px;
              height: 35px;
              margin: 21px auto 0;
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis; }
            .mid .mid3 .catgegory_content .content_li li a .price {
              width: 100%;
              height: 12px;
              font-family: MicrosoftYaHei;
              font-size: 16px;
              color: #f33;
              margin: 15px auto 0;
              text-align: center; }
        .mid .mid3 .catgegory_content .content_li:nth-child(4) {
          margin-right: 0px !important; }
        .mid .mid3 .catgegory_content .content_li:nth-child(8) {
          margin-right: 0px !important; }

ul {
  list-style: none; }

.lunbo-top {
  width: 100%;
  background: #fc002d;
  height: 35px;
  margin-top: 20px; }

.lunbo-bot {
  position: relative;
  width: 730px;
  height: 390px;
  width: 1200px;
  margin: 0 auto; }
  .lunbo-bot .fieldset {
    background-color: white;
    position: absolute;
    right: -8px;
    top: 0;
    padding: 3px;
    margin-top: 5px;
    width: 233px;
    font-size: 14px; }
  .lunbo-bot .news {
    width: 240px;
    height: 185px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 17px 34px 15px 12px;
    box-sizing: border-box;
    vertical-align: baseline;
    position: absolute;
    right: -8px;
    top: 210px; }
    .lunbo-bot .news a {
      font-size: 14px;
      display: inline-block;
      width: 100%;
      height: 24px;
      line-height: 26px;
      letter-spacing: 0;
      color: #333;
      clear: both;
      margin-bottom: 16px;
      text-decoration: none;
      cursor: pointer; }
      .lunbo-bot .news a div {
        color: lightblue;
        float: left;
        margin-left: 48px;
        margin-right: 13px; }
  .lunbo-bot .baidu {
    width: 730px;
    height: 390px;
    border: 1px solid orange;
    margin: 20px auto;
    position: relative;
    overflow: hidden; }
  .lunbo-bot .pic_list {
    position: absolute;
    left: 0px;
    top: 0px; }
  .lunbo-bot .pic_list li {
    float: left;
    width: 730px;
    height: 390px; }
    .lunbo-bot .pic_list li a {
      width: 730px;
      height: 390px; }
      .lunbo-bot .pic_list li a img {
        display: block;
        width: 730px;
        height: 390px; }
  .lunbo-bot .baidu ol {
    position: absolute;
    right: 45%;
    bottom: 10px; }
  .lunbo-bot .baidu ol li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    float: left;
    text-indent: -999em;
    margin-right: 5px;
    cursor: pointer; }
  .lunbo-bot .baidu ol li.active {
    background: orange; }
  .lunbo-bot .pic_title {
    width: 560px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    left: 10px;
    bottom: 10px; }
  .lunbo-bot .pic_title li {
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
    opacity: 0; }
  .lunbo-bot #btn_left,
  .lunbo-bot #btn_right {
    font-size: 80px;
    color: #fff;
    text-decoration: none;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -60px; }
  .lunbo-bot #btn_left {
    left: 20px; }
  .lunbo-bot #btn_right {
    right: 20px; }

.nav {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 35px; }
  .nav div {
    float: left;
    margin-right: 10px;
    position: relative;
    z-index: 9;
    width: 230px;
    text-align: center;
    background: #df022d; }
    .nav div span {
      display: block;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      color: #fff; }
  .nav a {
    float: left;
    width: 115px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none; }

.banner {
  width: 1200px;
  margin: 0px auto; }

.menu {
  position: relative;
  z-index: 3; }

.menu ul {
  overflow: hidden;
  height: 415px;
  background-color: #fefefe;
  color: #636363;
  width: 230px; }

.menu ul li {
  height: 25px;
  line-height: 25px;
  padding-left: 18px;
  width: 230px;
  font-size: 18px;
  cursor: default;
  color: #333;
  cursor: default;
  height: 38px;
  line-height: 38px; }

.menu ul li.active {
  background-color: red; }

.menu li a {
  font-size: 14px;
  color: #333;
  text-decoration: none; }

.menu li span {
  padding: 0 2px;
  font-size: 12px; }

.cartlist {
  display: none;
  position: absolute;
  left: 230px;
  top: 0;
  border: 2px solid #fd4165;
  width: 695px;
  padding: 6px 15px 16px 30px;
  min-height: 387px;
  background: #fff;
  z-index: 3; }

.item {
  padding: 20px;
  display: none; }

footer {
  width: 100%;
  height: 140px;
  background-color: #302e2e;
  font-size: 12px; }
  footer section {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
    footer section div {
      position: absolute;
      top: 10px; }
      footer section div p {
        margin-top: 12px;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        color: #999; }
      footer section div .p1 {
        font-size: 14px;
        margin-right: 5px; }
      footer section div .p2 {
        font-size: 13px; }
      footer section div .p3 {
        margin-left: 5px;
        font-size: 15px;
        color: red; }
    footer section img {
      position: absolute;
      right: 2px;
      top: 25px; }

/*# sourceMappingURL=index.css.map */
