/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

.header {
  width: 100%; }
  .header section {
    width: 100%;
    background-color: #f6f6f6; }
    .header section .header-top {
      line-height: 30px;
      margin: 0 auto;
      width: 1200px;
      height: 30px; }
      .header section .header-top .left {
        float: left; }
        .header section .header-top .left a {
          color: #474747;
          font-size: 12px; }
          .header section .header-top .left a:hover {
            color: red; }
      .header section .header-top .right {
        float: right; }
        .header section .header-top .right a {
          color: #474747;
          font-size: 12px; }
          .header section .header-top .right a:hover {
            color: red; }
      .header section .header-top .left li {
        margin: 0 5px;
        float: left; }
        .header section .header-top .left li span {
          margin-left: 8px;
          color: #d3ccd3;
          height: 10px;
          width: 1px; }
      .header section .header-top .right li {
        float: left;
        margin: 0 5px; }
        .header section .header-top .right li span {
          margin-left: 8px;
          color: #d3ccd3;
          height: 10px;
          width: 1px; }
  .header .header-bot {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-between; }
    .header .header-bot .a1 {
      width: 329px; }
      .header .header-bot .a1 a {
        display: block;
        width: 329px;
        height: 58px;
        margin: 32px 15px 0 0; }
        .header .header-bot .a1 a img {
          width: 100%;
          height: 100%; }
    .header .header-bot .a2 {
      position: absolute;
      left: 430px;
      top: 28px; }
      .header .header-bot .a2 .search-top {
        width: 600px;
        height: 38px;
        margin-bottom: 4px;
        position: relative; }
        .header .header-bot .a2 .search-top > div > span {
          position: absolute;
          z-index: 1000;
          left: 10px;
          top: 11px; }
        .header .header-bot .a2 .search-top > a {
          position: absolute;
          right: 0;
          top: 0;
          width: 74px;
          height: 38px;
          background: linear-gradient(90deg, #fd4165, #fc002d);
          border: 0;
          outline: none;
          border-radius: 0 20px 20px 0;
          color: #fff;
          font-size: 16px;
          padding: 0;
          line-height: 38px;
          cursor: pointer;
          text-decoration: none;
          text-align: center; }
        .header .header-bot .a2 .search-top input {
          position: relative;
          width: 480px;
          border: 2px solid #fd4165;
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
          height: 30px;
          padding: 2px 8px 2px 34px; }
      .header .header-bot .a2 .search-bot {
        position: relative; }
        .header .header-bot .a2 .search-bot div {
          position: absolute;
          left: 40px; }
          .header .header-bot .a2 .search-bot div a {
            color: #666;
            font-size: 12px;
            text-decoration: none; }
            .header .header-bot .a2 .search-bot div a:hover {
              color: red; }
        .header .header-bot .a2 .search-bot span {
          font-size: 0;
          margin: 0 10px;
          color: #d3ccd3;
          display: inline-block;
          height: 10px;
          width: 1px;
          background: #d3ccd3;
          vertical-align: middle;
          transform: translateY(-1px); }
    .header .header-bot .a3 > img {
      display: block;
      width: 100%;
      height: 100%; }

section {
  width: 100%;
  height: 600px; }
  section .wrapper {
    background: url("../img/img.255eac05.png") no-repeat;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative; }

/*# sourceMappingURL=login.css.map */
